@font-face {
  font-family: ProximaNova-Xbold;
  src: url("/Fonts/ProximaNova-Xbold.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  width: 1366px;
  height: 680px;
}

/* Date Picker*/
.date-picker {
  padding: 5px;
  display: block;
  position: absolute;
  height: 20px;
  width: 50px;
  border: 1px solid #EE2A7B;
  border-radius: 5px;
  left: 100px;
}

.current-month {
  height: 10px;
  width: 10px;
  background-color: #EE2A7B;
  border-radius: 50px;
  display: inline;
  margin: 2px;
  position: absolute;
  top: 8px;
  left: 22px;
}

.left-arrow {
  display: inline-block;
  margin: 2px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #EE2A7B;
}

.right-arrow {
  right: 4px;
  position: absolute;
  display: inline;
  margin: 2px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left:10px solid #EE2A7B;
}


/* Month */
.month-wrapper {
  display: inline-block;
  width: 370px;
  padding-left: 50px;
}

.pink-bar {
  display: inline-block;
  height: 10px;
  width: 120px;
  background-color: #EE2A7B;
  margin: 42px 0 42px 10px;
}

.month {
  font-size: 150px;
  font-family: "ProximaNova-Regular";
  font-style: normal;
  font-weight: 700;
  margin: 5px;
  line-height: 0.65;
}

.month-name {
  font-size: 80px;
  font-family:"ProximaNova-Regular";
  font-style: normal;
  font-weight: 700;  
  margin: 5px;
}

/* Offices */
.offices-wrapper {
  display: block;
  width: 250px;
  padding-left: 50px;
  bottom: 270px;
  position: absolute;
  margin: 0;
}

.offices {
  list-style-type: none;
}

.swatch {
  top: -4px;
  left: -60px;
  display: inline;
  height: 25px;
  width: 25px;
  position: absolute;
}

.swatch:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.08s;
}

.offices li {
  margin: 25px;
  font-family: "ProximaNova-Light";
  font-size: 15px;
  position: relative;
}
